# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino / firmware build artifacts
*.elf
*.hex
*.bin
software/app/web/firmware/bin/

# KiCad
*-backups/
*.kicad_prl
fp-info-cache

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env