# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino
*.elf
*.hex
*.bin

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env